before_install:
  sudo apt-get install jq
language:
  node_js
node_js:
  - '8'
  - '9'
  - '10'
  - '11'
  - '12'
install:
  - npm install
  - npm install -g codecov
before_script:
  - chmod +x ./scripts/publish.sh
script:
  - npm run build:test
  - npm run coverage
  - npm run report-coverage
  - codecov
after_success: >
  node_version=$(node -v);
  if [ ${node_version:1:1} = 8 ]; then
    echo "Running publish script for node 8";
    ./scripts/publish.sh;
  else
    echo "Finish";
    exit 0;
  fi